<p class="seo">Карта сайта</p>
<p class="pog">
  <br>
  <h2 id="1"><%= link_to "Модульные электрические котельные", ajax_refpt_path(:title => "Модульные электрические котельные"), :remote => true %></h2>
                <h3 id="a"><%= link_to "Встраиваемые отопительные модули", ajax_refpt2_path(:prods => "a"), :remote => true %></h3>
        <% lists %>
        <% @products = Product.find_all_by_section_and_subsection("1", "a") %> 
                 <% @products.each do |product| %>
                  <h4><%= link_to product.name, product, :class => product.id %></h4>
                  <% end %>


                <h3 id="b"><%= link_to "Модули в блок-контейнере", ajax_refpt2_path(:prods => "b", :title => "Модули в блок-контейнере"), :remote => true %></h3>
        <% lists %>
        <% @products = Product.find_all_by_section_and_subsection("1", "b") %>
                  <% @products.each do |product| %>
                  <h4><%= link_to product.name, product, :class => product.id %></h4>
                  <% end %>

  <h2 id="2"><%= link_to "Щиты управления котельными", ajax_refpt2_path(:prods => 2, :title => "Щиты управления котельными"), :class => "dub", :remote => true %></h2>
        <% lists %>
        <% @products = Product.find_all_by_section(2) %>
                  <% @products.each do |product| %>
                  <h4><%= link_to product.name, product, :class => product.id %></h4>
                  <% end %>

    <h2 id="3"><%= link_to "Электрические котлы", ajax_refpt2_path(:prods => 3, :title => "Электрические котлы"), :remote => true %></h2>
        <% lists %>
        <% @products = Product.find_all_by_section(3) %>
                  <% @products.each do |product| %>
                  <h4><%= link_to product.name, product, :class => product.id %></h4>
                  <% end %>

    <h2 id="4"><%= link_to "Щиты управления котлами", ajax_refpt2_path(:prods => 4, :title => "Щиты управления котлами"), :remote => true %></h2>
        <% lists %>
        <% @products = Product.find_all_by_section(4) %>
                  <% @products.each do |product| %>
                  <h4><%= link_to product.name, product, :class => product.id %></h4>
                  <% end %>
       
  <h2 id="5"><%= link_to "Прочая продукция", ajax_refpt2_path(:prods => 5, :title => "Прочая продукция"), :remote => true %></h2>
        <% lists %>
        <% @products = Product.find_all_by_section(5) %>
                  <% @products.each do |product| %>
                  <h4><%= link_to product.name, product, :class => product.id %></h4>
                  <% end %>
</p>