<%= form_for(@product) do |f| %>
<% if @product.errors.any? %>
<div id="errorExplanation">
<h2><%= pluralize(@product.errors.count, "error") %> prohibited
this product from being saved:</h2>
<ul>
<% @product.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
<div class="field">
<%= f.label :name %><br />
<%= f.text_field :name %>
</div>
<div class="field">
<%= f.label :description %><br />
<%= f.text_area :description %>
</div>
<div class="field">
<%= f.label :section %><br />
<%= f.text_field :section %>
</div>
<div class="field">
<%= f.label :subsection %><br />
<%= f.text_field :subsection %>
</div>

Avatar<br>
<%= f.file_field :avatar %><br>
<%= image_tag (@product.avatar.url) if @product.avatar? %>
	<br>	<br>

	<p>
    <label>
      <%= f.check_box :remove_avatar %>
      Remove avatar
    </label>
  </p>

Picture<br>
<%= f.file_field :picture %><br>
<%= image_tag (@product.picture.url) if @product.picture? %>
	<br>	<br>

Picture1<br>
<%= f.file_field :picture1 %><br>
<%= image_tag (@product.picture1.url) if @product.picture1? %>
	<br>	<br>	



<div class="actions">
	<br>
<%= f.submit %>
</div>
<% end %>