<%= render 'layouts/scr' %>

<h1><%= @product.name %></h1>

<div class="tovar">

<% if @product.avatar? then %>
<%= render 'products/av' %>
<% end %>

<% if @product.picture? then %>
<%= render 'products/pc' %>
<% end %>

<% if @product.picture1? then %>
<%= render 'products/pc1' %>
<% end %>

<p id="dscr"><%= @product.description %></p>

<textarea class="tp" disabled readonly><%= @product.table %></textarea>
</div>