<%= render 'layouts/scr' %>

<h1><%= @product.name %></h1>

<div class="tovar">
<table class="tp">
	<td class="nobord">
<% if @product.avatar? then %>
<%= render 'products/av' %>
<% end %>
	</td>
	<td>
<% if @product.picture? then %>
<%= render 'products/pc' %>
<% end %>
	</td>
	<td>
<% if @product.picture1? then %>
<%= render 'products/pc1' %>
<% end %>
	</td>
</table>
<p id="dscr"><%= raw(nl2br(h(@product.description))) %></p>

<div class="podval">Всю информацию можете уточнить то телефону <br> или написав нам письмо на <a href="mailto:info@titan-traid.ru" style="color: RGB(255, 204, 66); font-weight: bold;">info@titan-traid.ru</a></div>

</div>