<script>
      $(function(){

      	$(".up#s").mouseover(function(){
          $(".up#s").animate({opacity:0}, 150);
          $(".up#a").animate({opacity:1.0}, 150);
          $(this).css("cursor", "pointer");
          $(".up").dequeue('fx');
        });

      	$(".up#s").mouseout(function(){
          $(".up#a").animate({opacity:0}, 150);
          $(".up#s").animate({opacity:1.0}, 150);
          $(".up").dequeue('fx');
        });

      	$(".up").click(function(){
      	  $('html, body').animate({
      	  	scrollTop: $(".im").offset().top}, 300);
        });

       });
</script>

<div class="up" id="a">
</div>

<div class="up" id="s">
</div>

<div class="adres">
Титан-трейд - электрокотельные и водонагреватели<br>
тел. (Москва): +7 (499) 502 32 75<br>
тел. (Пермь): &nbsp;&nbsp;+7 (342) 277 09 55<br>
e-mail:&nbsp; <a href="mailto:info@titan-traid.ru">info@titan-traid.ru</a><br>
web: &nbsp;<%= link_to "titan-traid.ru", root_path %>
</div>

<div class="menbot">
<nav class="men">
	<ul class="mm">
		  <li><%= link_to "О компании", root_path %></li>
          <li><%= link_to "Документация", doc_path %></li>
          <li><%= link_to "Доставка и оплата", payment_path %></li>
          <li><%= link_to "Контакты", contact_path %></li>
          <li><%= link_to "Карта сайта", map_path %></li>
	</ul>
</nav>
</div>
