    <%= image_tag("logo.png", :alt => "Титан-трейд", :class => "logo") %>
      <div class="im"></div>
      <nav class="menu">
        <h1><strong>Водонагреватели, электрические блочные и модульные котельные - производство и поставка в любой регион</strong></h1>
        <ul>
          <li class="ss" id="about"><%= link_to "О компании", root_path, :id => 'ab' -%></li>
          <li class="ss" id="sert"><%= link_to "Документация", doc_path, :id => 'sr' -%></li>
          <li class="ss" id="pay"><%= link_to "Доставка и оплата", payment_path, :id => 'py' -%></li>
          <li class="ss" id="cont"><%= link_to "Контакты", contact_path, :id => 'cn' -%></li>
          <li class="ss" id="map"><%= link_to "Карта сайта", map_path, :id => 'sm' -%></li>
        </ul>
      </nav>

<div class="search">
<%= form_tag search_path :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :id => 'search_field'  %>
<% end %>
<%= image_tag("srch.png", :size => "25x20", :alt => "Титан-трейд", :id => 'srch') %>
</div>

    </header>


