<script>
  $(function() {

    $(".n:not(#<%= @product.section %>)").hide();
    $(".n#<%= @product.subsection %>").slideToggle();
    $("a.<%= @product.id %>").css("color", "RGB(255, 204, 66)");
    $("a.<%= @product.id %>").css("text-decoration", "underline");

    $("h5 a").mouseover(function() {
        $(this).css("color", "RGB(255, 204, 66)");
      });

    $("h5 a").mouseout(function() {
      if(color_prod_menu == 0) {
        $(this).not("a.<%= @product.id %>").css("color", "white");
      }
      else {
        $(this).css("color", "white");      
      }
    });

    $(".n").mouseover(function(){
      $(this).children("a").css({ color: "RGB(255, 204, 66)", cursor:"pointer" });
    });

    $(".n").mouseout(function(){
      $(this).children("a").css({ color: "white" });
    });


    $("nav ul li.list a").click(function(){
      $(this).parent(".list").next("section").slideToggle("slow")
      .siblings("section:visible").slideUp("slow");
      $("h5").siblings("section:visible").slideUp("slow");
    });

    $("h5").children("a").click(function(){
      $(this).parent("h5").next("section").slideToggle("slow")
      .siblings("section:visible").slideUp("slow");
    });

    $("h2 a").click(function() {
      var menuId = $(this).parent().attr('id');
      $("nav ul li.list#" + menuId).next("section").slideToggle("slow")
        .siblings("section:visible").slideUp("slow");
    });

    $("h3 a").click(function() {
      var menuId = $(this).parent().attr('id');
      $("nav ul li.list#1").next("section").slideToggle("slow")
        .siblings("section:visible").slideUp("slow");
      $("h5#" + menuId).next("section").slideToggle("slow")
        .siblings("section:visible").slideUp("slow");
    });

    $(".list a, h2, h3").click(function() {

      $("h5 a").css({ color: "white" });
      $("h5 a").css("text-decoration", "none");
      color_prod_menu = 1;

      $(".ss#" + pg_id).animate({borderWidth: "0"}, 290 ).dequeue('fx');
      $(".ss#" + pg_id).children("a").css("color", "white");
      $(".picture#ind").animate({opacity:1.0}, 600).dequeue('fx');
      if ("<%= @page_id %>" != "ind") {
        $(".picture#<%= @page_id %>").animate({opacity:0}, 600).dequeue('fx');
      }
      pg_id = "ind";

      $('.tovar').empty();
    });
  });

    </script>

<nav class="list1">
  <ul class="list">
    <li class="list" id="1">
      <%= link_to "Модульные электрические котельные", ajax_refpt_path(:title => "Модульные электрические котельные"), :remote => true %>
    </li>

    <section class="n" id="1">
      
      <h5 id="a">
        <%= link_to "Встраиваемые отопительные модули", ajax_refpt2_path(:prods => "a", :title => "Встраиваемые отопительные модули"), :remote => true %>
      </h5>
      <section class="n" id="a">
        <% lists %>
        <% @products = Product.find_all_by_section_and_subsection("1", "a") %>
        <% @products.each do |product| %>
        <h5>
          <%= link_to product.name, product, :class => product.id %>
        </h5>
        <% end %>
      </section>

      <h5 id="b">
        <%= link_to "Модули в блок-контейнере", ajax_refpt2_path(:prods => "b", :title => "Модули в блок-контейнере"), :remote => true %>
      </h5>
      <section class="n" id="b">
        <% lists %>
        <% @products = Product.find_all_by_section_and_subsection("1", "b") %>
        <% @products.each do |product| %>
        <h5>
          <%= link_to product.name, product, :class => product.id %>
        </h5>
        <% end %>
      </section>

    </section>

    <li class="list" id="2">
      <%= link_to "Щиты управления котельными", ajax_refpt2_path(:prods => 2, :title => "Щиты управления котельными"), :class => "dub", :remote => true %>
    </li>
      <section class="n" id="2">
        <% lists %>
        <% @products = Product.find_all_by_section(2) %>
        <% @products.each do |product| %>
        <h5>
          <%= link_to product.name, product, :class => product.id %>
        </h5>
        <% end %>
      </section> 

    <li class="list" id="3">
      <%= link_to "Электрические котлы", ajax_refpt2_path(:prods => 3, :title => "Электрические котлы"), :remote => true %>
    </li>
      <section class="n" id="3">
        <% lists %>
        <% @products = Product.find_all_by_section(3) %>
        <% @products.each do |product| %>
        <h5>
          <%= link_to product.name, product, :class => product.id %>
        </h5>
        <% end %>
      </section>

    <li class="list" id="4">
      <%= link_to "Щиты управления котлами", ajax_refpt2_path(:prods => 4, :title => "Щиты управления котлами"), :remote => true %>
    </li>
      <section class="n" id="4">
        <% lists %>
        <% @products = Product.find_all_by_section(4) %>
        <% @products.each do |product| %>
        <h5>
          <%= link_to product.name, product, :class => product.id %>
        </h5>
        <% end %>
      </section>
       
    <li class="list" id="5">
      <%= link_to "Прочая продукция", ajax_refpt2_path(:prods => 5, :title => "Прочая продукция"), :remote => true %>
    </li>
      <section class="n" id="5">
        <% lists %>
        <% @products = Product.find_all_by_section(5) %>
        <% @products.each do |product| %>
        <h5>
          <%= link_to product.name, product, :class => product.id %>
        </h5>
        <% end %>
      </section> 
  </ul>
</nav>  
