<!DOCTYPE html>
<html>
<head>
  <title>Титан-трейд | <%= @title %></title>
<link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAADrpF4A66VeAOmxdADpsHcA/f78AOiveADqpV8A5aRgAOulXwDmpGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiASIiIiIiIiIBIiIiIiIiIgEiIiIiIiASASIiIiIiIBIBIiIiIiIgEI0JYiIiIiAREREiIiIiIBIiIiIiIiBl0mYiIiIiIZEREiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />

    <%= render 'layouts/stylesheets' %>
    <%= jquery %>
    <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>
    <div class="picture" id="ind">
    </div>
    <div class="picture" id="about">
    </div>
    <div class="picture" id="sert">
    </div>
    <div class="picture" id="pay">
    </div>
    <div class="picture" id="cont">
    </div>
    <div class="picture" id="map">
    </div>

    <div class="orange">
    </div>

    <section class="left-block">
      <%= render 'layouts/left' %>
    </section>

    <div class="name" id="name12">	
  		<%= yield %>
    <div class="tovar" id="tov"></div>
  	</div>
    <div class="foot">
      <div id="foot"></div>
      <div id="foot0"><%= render 'layouts/footerup' %></div>
      <div id="foot1"><%= render 'layouts/footerdown' %></div>
    </div>
  </div>

</body>
</html>
