<!DOCTYPE html>
<html>
<head>
  <title>Титан-трейд | <%= @title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= jquery %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>

    <div class="orange">
    </div>

    <section class="left-block">
      <%= render 'layouts/left' %>
    </section>

    <div class="name">	
  		<%= yield %>
  	</div>
  </div>
</body>
</html>
